name: CI

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Clean Build Directory
        run: |
          rm -rf app/build
          rm -f app/src/main/java/org/schabi/newpipe/MainActivity.java
          ./gradlew clean

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # ...existing build steps...
